html,body{
    width: 100%;
    height: 100%;
}
body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "microsoft yahei";
    background: url("http://www.zgqctj.com/statics/images/boyulong/img/nav_bg.jpg")left top;
}
div,ul,li,p,span,em,i,b,dl,dd,dt,table,img,input{
    margin:0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: "microsoft yahei";
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color:#666;
    cursor: pointer;
}
.fl{
    float: left !important;
}
.fr{
    float: right !important;
}
.top{
    margin-top: 20px;
}
.red{
    color: #c42021;
}
a:hover,img:hover{
    /*opacity:.9;*/
    /*filter:alpha(opacity=90);*/
    /*-moz-opacity:.9;*/
    /*-khtml-opacity: .9;*/
    transition:.5s ease;
    -webkit-transition:.5s ease;
    -moz-transition:.5s ease;
    -ms-transition:.5s ease;
}
.clearfix:before,.clearfix:after{
    content:''; display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    *zoom:1;
}



/* 正文内容 */
.main_box{
  width: 100%;
  float: left;
}
.main_content{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}



/*精彩图库*/
.gallery_box{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 60px;
}
.gallery_box .grid{
    width:380px;
    font-size:12px;
    float:left;
    overflow: hidden;
}
.grid .imgholder{
    position: relative;
}
.grid .imgholder img{
    width:100%;
    height:100%;
    display:block;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;
    opacity: 0.5;
}
.grid:hover .imgholder img{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
    opacity: 1;
}
.grid:hover .imgholder .media_bord{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left:20px;
    top: 20px;
    opacity: 1;
}
.grid:hover .imgholder .media_odd{
    top:50%;
    opacity: 1;
}
.gallery_box .grid h3{
    padding-top: 18px;
    font-size: 16px;
    color: #ccc;
}
.gallery_box .grid span{
    margin-top: 12px;
    display: block;
    width: 20px;
    height: 1px;
    background: #999999;
    -webkit-transition: all .36s ease;
    transition: all .36s ease
}
.gallery_box .grid:hover span{
    width: 60px;
}
