.focus-img {
    position: absolute;
    width: 1018px;
    height: 70px;
    /* background-color: #333; */
    left:80px;
}


.focus-img-con {
    position: relative;
    width: 800px;
    height: 70px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}

.focus-img-con ul {
    position: absolute;
    top: 0;
}

.focus-img-con ul li {
    color: #333;
    text-align: center;
    line-height:70px;
    /* padding-right: 10px; */
    float: left;
    font-size:14px;
}

.focus-img-con ul li div {
    /* width: 104px; */
    height:70px;
    padding:0px 10px;
    /* background-color: #B74343; */
}

.focus-img .change-bnt {
    display: block;
    width: 30px;
    height: 50px;
    line-height:50px;
    text-align:center;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    /* background-color: #B74343; */
}


.focus-img .change-bnt.prev-bnt {
    left: 10px;
    color:#333;
}

.focus-img .change-bnt.next-bnt {
    right: 10px;
    color:#333;
    transform:rotate(-180deg);
    -webkit-transform:rotate(-180deg);
}