/*
 * @Author: mikey.zhaopeng 
 * @Date: 2018-04-28 09:50:21 
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-04-28 11:16:58
 */

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.co_box {
    height: 70px;
    min-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}

.co_box .co_ctn {
    width: 1098px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    min-width: 1000px;
    overflow: hidden;
}

.co_box .co_ctn .co_tit {
    position: absolute;
    left: 0;
    font-size: 16px;
    color: #666;
    line-height: 70px;
    font-weight: bold;
}

.co_box .co_ctn .co_show {
    position: absolute;
    width: 1018px;
    height: 70px;
    left: 80px;
}

.co_box .co_show .co_list_box {
    width: 800px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.co_box .co_list_box .co_list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.co_box .co_list>li {
    width: 800px;
    height: 70px;
    position: relative;
    float: left;
}

.co_box .co_list .show_date {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}

.co_box .show_date li {
    float: left;
    line-height: 70px;
    font-size: 14px;
    padding: 0px 20px;
}
.co_box .co_btn {
    position:absolute;
    top:0;
    width:100px;
    height:70px;
    line-height:70px;
    font-size:20px;
    text-align:center;
    cursor:pointer;
    z-index:10000;
}
#co_next {
    right:0px;
}
#co_prev {
    left:0;
}
.co_box.active #co_next,.co_box.active #co_prev {
    transform:scale(2);
}
