.filter_disabled {
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.filter_box07,.filter_box02,.filter_box03,.filter_box04,.filter_box05,.filter_box06,.filter_box11 {
    position: absolute;
    right:0.4rem;
    top:0.4rem;
    width:4.0rem;
    height:1.2rem;
}
.filter_box12 {
	position: absolute;
    right:0.4rem;
    top:0rem;
    width:4.0rem;
    height:1.0rem;
    margin-right:0.2rem;
}

.filter_box select {
	display: none;
}

.filter_text {
	width:100%;
	height:100%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	padding:0 0 0.2rem 0.4rem;
	background: #fff;
	border: 1px solid #e6e6e6;
}

.filter_text input {
	font-size:0.28rem;
}

.filter_text .filter_title {
	width: 100%;
	height:0.8rem;
	line-height:0.8rem;
	border: 0;
	background-color: transparent;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
	cursor: pointer;
}

.filter_list {
	display: none;
	width: 100%;
	max-height:8rem;
	background-color: #fff;
	font-size:0.28rem;
	position: absolute;
	top:2.0rem;
	left: 0;
	z-index: 99;
	border: 1px solid #e6e6e6;
	overflow-x:hidden;
}

.filter_list li.filter_null a {
	color: #d2d2d2;
}

.filter_list li a {
	display: block;
	padding: 0 10px;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.filter_list li:hover {
	background-color: #f2f2f2;
}

.filter_list li.filter_selected {
	background-color: #5FB878;
}

.filter_list li.filter_selected a{
	display: block;
	color: #fff;
}

.filter_list li.filter_disabled {
	background-color: #fff;
}

.filter_list li.filter_disabled a{
	display: block;
	color: #d2d2d2;
}

.filter_list li.filter_disabled:hover a {
	cursor: not-allowed!important;
	background-color: #fff;
}

.icon {
	position: absolute;
}

.icon_filter_arrow {
	width: 8px;
	height: 6px;
	background-repeat: no-repeat;
    background-image: url(../img/icon_arrow_down_x2.png);
    background-size: 100%;
    right: 10px;
    top: 13px;
    transition: all .2s;
}

.icon_filter_arrow.filter_show {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.filter_list::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.filter_list::-webkit-scrollbar-track {
	background: #fff 
}

.filter_list::-webkit-scrollbar-thumb {
	background: #CBCBCB;
}