/* reset */
body,ul,p,h1,h2,h3,h4,h5,h6,form,dl,dd,select,input,textarea {
    margin:0;
    padding:0;
   /* font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-user-select:none;
}
li {
    list-style-type:none;
}
img {
    border:none;
}
a {
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}a,input,button {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
    border-radius:0;
}
/* end reset */
html,body {
	width:100%;
	height:100%;
	overflow-x:hidden;
	margin:0;
	padding:0;
}

/* 引入iconfont字体 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* end 引入iconfont字体 */

/* header */
.header {
    width:100%;
    height:1.8rem;
    background:#22c377;
    line-height:1.8rem;
    position:absolute;
    left:0;
    top:0;
}
.header .back {
    position:absolute;
    left:0;
    top:0;
    text-align:center;
}
.header .back i {
    padding:0.46rem 0.7rem;
    font-size:0.88rem;
    color:#fff;  
}
.header .h_title {
    width:100%;
    height:1.8rem;
    text-align:center;
    color:#fff;
    font-size:0.72rem;
 /* font-weight:700; */
    line-height:1.8rem;
}
/* end header */

/* content */
.content {
    position:absolute;
    top:1.8rem;
    right:0;
    bottom:0;
    left:0;
    overflow-x:hidden;
    margin:0 auto;
    background:#f2f2f2;
}

    /* 团队信息 */
.content .tdbz_mes {
    width:100%;
    height:2.9rem;
    background:#22c377;
    position:relative;
    /* position:absolute;
    left:0;
    top:0; */
}
.content .tdbz_mes .tdbz_img {
    position:absolute;
    left:4.533%;
    top:0.74rem;
    width:1.4rem;
    height:1.4rem;
}
.content .tdbz_mes .tdbz_txt {
    position:absolute;
    left:2.5rem;
    top:0.74rem;
}
.content .tdbz_txt .tdbz_tit {
    font-size:0.6rem;
    color:#fff;
}
.content .tdbz_txt .tdbz_num {
    font-size:0.44rem;
    color:#fff;
    line-height:1.0rem;
}
    /* 团队信息 */

    /* 行程日期 */
.content .date {
    width:100%;
    height:1.52rem;
    background:#fff;
    line-height:1.52rem;
    margin-bottom:0.44rem;
} 
.clear {
    content:"";
    display:block;
    clear:both;
}   
.content .date .date_tit {
    font-size:0.56rem;
    color:#333;
    float:left;
    margin-left:0.68rem;
}
.content .date .date_num {
    font-size:0.48rem;
    color:#666;
    float:right;
    margin-right:0.68rem;
}
    /* 行程日期 */

    /* 团款概况 */
.content .desc {
    width:100%;
    height:5.88rem;
    background:#fff;
    margin-bottom:0.44rem;
}    
.content .desc .desc_tit {
    width:100%;
    height:1.2rem;
    line-height:1.2rem;
    text-indent:0.68rem;
    font-size:0.44rem;
    color:#999;
}
.content .desc .desc_list {
    width:100%;
    height:auto;
}
.content .desc_list li {
    width:50%;
    height:2.32rem;
    border-top:1px solid #f2f2f2;
    box-sizing:border-box;
    float:left;
    background:#fff;
}
.content .desc_list li:nth-of-type(2n-1) {
    border-right:1px solid #f2f2f2;
}
.content .desc_list .desc_item {
    line-height:1.2rem;
    font-size:0.52rem;
    color:#333;
    text-indent:0.86rem;
}
.content .desc_list .desc_amount {
    line-height:0.88rem;
    font-size:0.52rem;
    color:#666;
    text-indent:0.8rem;
}
    /* 团款概况 */
    
    /* list */
.content .list {
    width:100%;
    height:auto;
    margin:0 auto;
    margin-bottom:1.12rem;
}    
.content .list li {
    width:100%;
    height:2.0rem;
    border-bottom:1px solid #f2f2f2;
    background:#fff;
}
.content .list li:last-child {
    margin-top:0.24rem;
}

.content .list_link {
    display:block;
    width:100%;
    height:100%;
    position:relative;
}
.content .list_link .list_pic {
    position:absolute;
    left:0.68rem;
    top:0.48rem;
    width:1.12rem;
    height:1.12rem;
}
.content .list_link .list_name {
    position:absolute;
    left:2.16rem;
    top:0.68rem;
    font-size:0.52rem;
    color:#333;
}
.content .list_link .list_right {
    position:absolute;
    right:0.68rem;
    top:0.72rem;
    font-size:0.44rem;
    color:#666;
    font-weight:100;
    -webkit-transform:rotate(180deg);
}
/* end content */
.tdbz_save {
    height:auto;
    width:100%;
    line-height:1.72rem;
}
.tdbz_save input {
    width:50%;
    height:1.72rem;
    background:#f9b430;
    float:left;
    border:none;
    outline:none;
    color:#fff;
    font-size:0.68rem;
}
.tdbz_save .tdbz_save_btn1 {
    border-right:1px solid #fff;
}
